
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';

}
.contenedor-1{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.contenedor-2{
    background: #493d3f;
}
.inscribete{
    background: none;
    height: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background: url(imagenes/fondo2.jpg);
    background-size: cover;
    height: 100vh;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    width: 95px;
    height: 85px;
}
header ul{
    display: flex;
}
header ul li{
    margin: 0 20px;
}
header ul li a{
    color: #fff;
}
.titular{
    text-align: center;
    margin-top: 15vh;
    color: #493d3f;
    font-weight: bold;
    margin: auto;
}
h1{
    font-size: 60px;
    font-style: italic;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}
.titular a{
    background: #D7DBDD;
    color:  #000;
    padding: 25px 65px;
    border-radius: 35PX;
    font-weight: bold;
    font-size: 18px;
}
.contenedor-tarjetas{
    display: flex;
    justify-content: center;
}

.tarjeta{
    text-align: center;
    box-shadow: -1px 0px 5px #0000001f;
    width: 28%;
    margin-top: -55px;
    background:  #fff;
    border:  #D7DBDD 5px outset;
    padding: 40px 0;
    border-radius: 10px;
}
.tarjeta2{
    text-align: center;
    box-shadow: -1px 0px 5px #0000001f;
    width: 28%;
    background:  #fff;
    border:  #D7DBDD 5px outset;
    padding: 40px 0;
    border-radius: 10px;
    margin-top: 280px;
}
.tarjetas2{
    display: flex;
    margin-top: auto;
}
.tarjeta img{
    width: 210px;
    height: 150px;
    margin-top: 15px;
}
#segunda-tarjeta{
    margin: 0 55px 0 55px;
    margin-top: -55px;
}
.tarjeta p{
    font-size: 15px;
}
.titulo2{
    background-color: #493d3f;
    margin-top: 20px;
    margin-bottom: 20px;
}
.titulo2 h1{
    text-align: center;
    color: #fff;
    font-size: 30px;

}

.slider{
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 10s infinite alternate linear;
}

.slider li{
	width: 80%;
	list-style: none;
}

.slider img{
	width:1100px;
    height: 700px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
table th{
    color: #493d3f;
    margin-top: 20px;

}
footer{
    background: #493d3f;
    margin-top: 60px;

}
footer img{
    display: block;
    width: 210px;
    height: 150px;
    margin: auto;   
}
footer h2{
    color: #D7DBDD;
    display: flex; 
    justify-content: center;
    margin-top: 60px;
    font-size: 40px;
}
footer h3{
    color: #D7DBDD;
    display: flex; 
    justify-content: flex-end;
    margin-top: 40px;
    font-size: 20px;

}
.clase{
    box-shadow: -1px 0px 5px #0000001f;
    text-align: center;
    border:  #D7DBDD 5px outset;
}
.video{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
}
.boton{
    color: #D7DBDD;
}